{
  "directory": "main",
  "environment": "PROD",
  "rules": [
    {
      "event": {
        "personType": [
          "staff",
          "vip"
        ],
        "site": "main",
        "source": "AEC"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\axis_entry_manager.py\" -c \"#E\" -i 192.168.3.72 -s \"Axis-00408cfffad1:1565137670.781818000\" -a \"Axis-00408cfffad1 AccessController\" -u \"root:pass\" --no-tls"
          ],
          "reply": {
            "message": "Secure Entry Action triggered on site main, source AEC Card \"#E \""
          }
        },
        { }
      ]
    },
    {
      "event": {
        "hasPersonId": true,
        "site": "main",
        "source": "MenuBoard"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_data_search.py\" -s \"1622210025862\" -i \"192.168.0.3:55756\" -u \"root:pass\" -e \"#s \" -N \"#N \" -T \"#T \" -a \"#a \" -l \"#l \" -D \"#D \" -E \"#E \" -m \"#m \" -t \"#t \""
          ],
          "reply": {
            "message": "ACS Data Search Action triggered for site main, source MenuBoard"
          }
        }
      ]
    },
    {
      "event": {
        "hasPersonId": true,
        "site": "main",
        "source": "AEC"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_data_search.py\" -s \"1622133086574\" -i \"192.168.1.12:55756\" -u \"root:pass\" -e \"#s \" -N \"#N \" -T \"#T \" -a \"#a \" -l \"#l \" -D \"#D \" -E \"#E \" -m \"#m \" -t \"#t \""
          ],
          "reply": {
            "message": "ACS Data Search Action triggered for site main, source AEC"
          }
        }
      ]
    },
    {
      "event": {
        "idClass": [
          "stranger"
        ],
        "site": "main",
        "source": "AEC"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_data_search.py\" -s \"1622133086574\" -i \"192.168.1.12:55756\" -u \"root:pass\" -e \"#s \" -N \"Stranger\" -T \"#T \" -a \"#a \" -l \"#l \" -D \"#D \" -E \"#E \" -m \"#m \" -t \"#t \""
          ],
          "reply": {
            "message": "ACS Data Search Action triggered for site main, source AEC (Stranger)"
          }
        }
      ]
    },
    {
      "event": {
        "idClass": [
          "stranger"
        ],
        "site": "main",
        "source": "MenuBoard"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_data_search.py\" -s \"1622210025862\" -i \"192.168.0.3:55756\" -u \"root:pass\" -e \"#s \" -N \"Stranger \" -T \"#T \" -a \"#a \" -l \"#l \" -D \"#D \" -E \"#E \" -m \"#m \" -t \"#t \""
          ],
          "reply": {
            "message": "ACS Data Search Action triggered for site main, source MenuBoard (Stranger)"
          }
        }
      ]
    },
    {
      "event": {
        "personType": [
          "vip"
        ],
        "site": "main",
        "source": "AEC"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_trigger.py\" -t \"SAFR-VIP\" --ipname \"192.168.1.12:55756\" --user \"root:pass\""
          ],
          "reply": {
            "message": "VIP triggered for site main, source AEC"
          }
        }
      ]
    },
    {
      "event": {
        "idClass": [
          "threat"
        ]
      },
      "triggers": [
        {
          "reply": {
            "message": "Threat triggered for site main, source AEC"
          }
        },
        {
          "actions": [
            "python \"scripts\\acs_trigger.py\" -t \"SAFR-Threat\" --ipname \"192.168.1.12:55756\" --user \"root:pass\""
          ]
        }
      ]
    }
  ],
  "userId": "root",
  "userPwd": "pass"
}