{
  "directory": "main",
  "environment": "PROD",
  "rules": [
    {
      "event": {
        "name": [
          "Karl Radke",
          "Filip Johansson",
          "Pat Marino"
        ],
        "site": "main",
        "source": "MenuBoard"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_trigger.py\" -t \"#F\" --ipname \"localhost:55756\" --user \"root:pass\""
          ],
          "reply": {
            "message": "Sent name #F"
          }
        }
      ]
    },
    {
      "event": {
        "idClass": [
          "stranger"
        ],
        "site": "main",
        "source": "MenuBoard"
      },
      "triggers": [
        {
          "actions": [
            "python \"scripts\\acs_trigger.py\" -t \"Stranger\" --ipname \"localhost:55756\" --user \"root:pass\""
          ],
          "reply": {
            "message": "Got Stranger event"
          }
        }
      ]
    }
  ],
  "userId": "root",
  "userPwd": "pass"
}